@charset "utf-8";
*{margin: 0;padding:0;box-sizing: border-box;
}



/* CSS Docume
 */
.header{width:100%;height:150px;box-sizing:border-box;margin-top:0 5px;background-color:deeppink; font-family: fleisch-wolf, sans-serif;
font-style: normal;
font-weight: 400;

} 
.menu{display: flex;justify-content: space-evenly;width:75%;}


 .eventslist {width:305px; margin:0 auto;line-height: 30px;}

#eventsorganizer{width: 60%; margin:0 auto;line-height: 90px;}


#websitedesigner{width: 60%; margin:0 auto;line-height: 90px;}

#websitedeveloper{width: 60%; margin:0 auto;line-height: 90px;}

#chiefeditor{width: 60%; margin:0 auto;line-height: 90px;}

.sounddesign{ margin-left: -200px}

.hrmanager{ margin-right:-200px;margin-top:-37px}


.fullpage{
	width:100%;height:2000px;float: left; margin-top: 0 5px;background-color:lightgray;font-family:fleisch-wolf, sans-serif;
font-style: normal;
font-weight: 400;
	text-align: center; padding-top:100px;line-height:30px;
		
}
.column1{
	width:50%;height:2000px;float: left; margin-top: 0 5px;background-color:lightgray;font-family:fleisch-wolf, sans-serif;
font-style: normal;
font-weight: 400;
	text-align: center;
		
}
.column2{
	width:50%;height:2000px;float: left; margin-top: 0 5px;background-color:lightgray;font-family:fleisch-wolf, sans-serif;
font-style: normal;
font-weight: 400;
	text-align: center;		
		
}
.home{ top:-50px;width:70px;height:30px;position:relative;border:5px solid; margin-top: 0 5px;background-color:lightgray;font-family:fleisch-wolf, sans-serif;
font-style: normal;
font-weight: 400;
	text-align: center;
}
.searchbar{top:-50px;width: 200px;height:30px;left:80%;position:relative;}
.image1{top:-80px;width:2%;height:30px;margin-left:94%;position:relative;}
.image2{top:-113px;width:2%;height:30px;margin-left:97%;position:relative;}

.footer{width:100%;height:200px;float:left;box-sizing:border-box;margin-top:-5px;background-color:black; font-family: fleisch-wolf, sans-serif;
font-style: normal;
font-weight: 400;

} 
.About{ top:-50px;width:70px;height:30px;position:relative;border:5px solid;margin-top: 0 5px;background-color:lightgray;font-family:fleisch-wolf, sans-serif;
font-style: normal;
font-weight: 400;
	text-align: center;
	
}
.Careers{ top:-50px;width:70px;height:30px;position:relative;border:5px solid;margin-top: 0 5px;background-color:lightgray;font-family:fleisch-wolf, sans-serif;
font-style: normal;
font-weight: 400;
	text-align: center;}
.Events { top:-50px;width:70px;height:30px;position:relative;border:5px solid;margin-top: 0 5px;background-color:lightgray;font-family:fleisch-wolf, sans-serif;
font-style: normal;
font-weight: 400;
	text-align: center;}
.Section{width:80%;height:10px;right:80%;display:flex;justify-content:space-evenly;margin-left:-40%;border:5px solid;}
.Section2{width:80%;height:10px;right:80%;display:flex;justify-content:space-evenly;margin-left:-40%;border:5px solid;}

